[submodule "potabi-welcome/files/usr/welcome"]
	path = potabi-welcome/files/usr/welcome
	url = https://github.com/potabi/welcome
[submodule "vlang/files/usr/local/generic/v"]
	path = vlang/files/usr/local/generic/v
	url = https://github.com/vlang/v
